.sidenav {
    border-right: 1px solid #000;
}

.show-movie .sidenav .star-div-include {
    display: block;
    width: 120px;
    margin: 5px auto auto;
}

.show-movie .sidenav label {
    margin-top: 20px;
}

.show-movie hr {
    border-top: 1px solid #b30c0c;
}

.show-movie .show-title {
    color: #b30c0c;
    font-weight: 600;
}

.post-by {
    text-indent: 30px;
}

#show-title, #show-description {
    text-transform: capitalize;
}

#show-description {
    margin-top: 20px;
    text-indent: 15px;
    text-align: justify;
}

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}

.star-cb-group * {
    font-size: 1rem;
}

.star-cb-group > input {
    display: none;
}

.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}

.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}

.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}

.star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}

.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
}

:root {
    font-size: 2em;
    font-family: Helvetica, arial, sans-serif;
}

fieldset {
    border: 0;
    width: 100%;
    /*border-radius: 1px;*/
    /*padding: 1em 1.5em 0.9em;*/
    /*margin: 1em auto;*/
}

h1 {
    text-align: center;
}

