/*public*/
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: rgba(204, 204, 204, 0.27);
}
a {
    text-decoration: none !important;
}
p{
    word-wrap: break-word;
}

/*end public*/

/*Home Page*/
.home {
    margin: 0 15px 100px;

}

.home #show_more:hover {
    background-color: #3b0e56;
    color: #f5f5f5;
}

.description-box {
    max-height: 210px;
    height: 210px;
    position: relative;
    overflow: hidden;
    color: rgba(39, 39, 39, 0.81);
    text-transform: capitalize;
    text-align: start;
}

.description-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 15px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.63), gainsboro);

}

.description-box .read-more:hover {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), gainsboro);
}

.description-box .read-more a {
    color: #0056a0;
    text-decoration: none !important;
}

.description-box .read-more a:hover {
    text-decoration: none !important;
}

.star-icon {
    font-size: 18px;
    /*color: rgb(228,187,36);*/
    color: #d80304;
    margin-left: 7px;

}

.watch-icon {
    font-size: 18px;
    color: #44112b;
    margin-left: 7px;

}

.star-div {
    position: absolute;
    right: 42px;
    top: 59px;

}

.star-div-include {
    background-color: #f0ad4e;
    padding: 0px 10px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.star-text {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
}

.watch-div {
    background-color: #6e6ed6;
}

.social-media a:first-child div {
    background: #337ab7;
}

.social-media a:first-child div:hover {
    background: #0e2f4c;
}

.social-media a:last-child div {
    background: rgb(74, 171, 255);
}

.social-media a:last-child div:hover {
    background: rgb(77, 111, 140);
}

.home #show_more {
    margin-top: 40px;
    background-color: #113e75;
    color: #f5f5f5;
}

/*End Home Page*/

/*Show All Movies Page*/
.movies-img-show {
    max-width: 100%;
    max-height: 100%;
}

.movies-show {
    height: 300px !important;
}

.star-div-show-all-movies {
    position: absolute;
    right: 42px;
    top: 66px;
}

/*End Show All Movies Page*/
